# Gradle
.gradle/
build/
bin/
out/

# Local Testing / run-paper plugin directories
run/
**/run/
*.log
logs/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Visual Studio Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db